{% extends 'base.html' %}

{% block content %}

<center>
<img src="https://raw.githubusercontent.com/analogdevicesinc/pyadi-iio/master/images/PyADI-IIO_Logo_600.png" width="600" class="center">
</center>
</br>
    
<center>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="all" type="button" class="btn btn-primary">All</a>
        <a href="xilinx" type="button" class="btn btn-primary">Xilinx</a>
        <a href="intel" type="button" class="btn btn-primary">Intel</a>
        <a href="rpi" type="button" class="btn btn-primary">RPI</a>
      </div>
</center>
</br>

{% include 'components/pyadi_iio/table.html' %}

{% endblock %}
