<br>
<h1 class="display-6" id="boardName">{{board_name}}</h1>
<br>

<div class="filterContainer">
  <div class="row">
    <h4 class="filterElem">Apply Filter</h4></div>
    <div class="filterElem dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="selectFieldMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:250px;">
        Select Field to Filter
      </button>
      <div class="dropdown-menu select-field-dropdown-menu" aria-labelledby="selectFieldMenu" id="selectFieldMenu"></div>
    </div>
    <div class="filterElem dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="selectValueMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 250px;">
        Select value of selected field
      </button>
      <div class="dropdown-menu select-value-dropdown-menu" aria-labelledby="selectValueMenu" id="selectValueMenu"></div>
    </div>
    <button type="submit" class="filterElem btn btn-primary" id="addFilterSubmitButton">Add Filter</button>
    <button type="submit" class="filterElem btn btn-primary" id="clearFilterSubmitButton">Clear</button>
  </div>
</div>


<br>

<table class="table">
    <thead>
      <tr>
        {% for item in boards[0] %}
          {% if item in ["url", "Failure reason"] %}
            <!-- do nothing -->
          {% else %}
            {% if item in ["Jenkins Job Date"] %}
              <th class="text-nowrap" scope="col">
                {{item}}
              </th>
            {% else %}
              <th scope="col">
                {{item}}
              </th>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <!-- distinguish Trigger by row color  for easy identification-->
        {% set day_count = namespace(value=0) %}
        {% set prev_day = namespace(value='') %}
        {% for board in boards %}
          {% if (not board['Trigger'] ==  prev_day.value )
             or board['Trigger'] in ["manual", "NA"] %}
            {% set prev_day.value = board['Trigger'] %}
            {% set day_count.value = day_count.value + 1 %}
          {% endif %}
          {% if day_count.value % 2 == 0 %}
            {% set row_day_class = 'table-active' %}
          {% else %}
            {% set row_day_class = 'table-light' %}
          {% endif %}

      <tr class={{row_day_class}}>
        {% for k,v in board.items() %}
          {% if k== "Jenkins Job Date" %}
            <td>
              {{v.split('T')[0]}}<br>
              {{v.split('T')[1].split('.')[0]}}
            </td>
          {% elif k== "Result" %}
            {% if v=="Pass" %}
              <td>
                <span>&#9989;</span>
                <br> Pass
              </td>
            {% else %}
              <td>
                <span>&#10060;</span>
                {% for failure in board['Failure reason'] %}
                  <br>{{failure}}
                {% endfor %}
              </td>
            {% endif %}
          {% elif k in ["Linux Tests"] %}
            <td style="font-size: small">
              {% set dmesg_bg = 'bg-danger' %}
              {% set drivers_bg = 'bg-danger' %}
              {% if v.dmesg_errors == "0" %}
                {% set dmesg_bg = 'bg-success' %}
              {% endif %}
              {% if v.drivers_missing == "0" %}
                {% set drivers_bg = 'bg-success' %}
              {% endif %}
              <a href={{board['url']['Linux Tests dmesg']}}>
                dmesg errors <br><span class="badge rounded-pill {{dmesg_bg}}">{{v.dmesg_errors}}</span><br>
              </a>
              <a href={{board['url']['Linux Tests drivers']}}>
                missing drivers <br><span class="badge rounded-pill {{drivers_bg}}">{{v.drivers_missing}}</span>
              </a>
            </td>
            {% elif k in ["pyadi Tests"] %}
            <td style="font-size: small">
              <a href={{board['url'][k]}}>
                {% set fail_bg = 'bg-danger' %}
                {% if v.fail == "0" %}
                  {% set fail_bg = 'bg-success' %}
                {% endif %}
                pass <br><span class="badge rounded-pill bg-success">{{v.pass}}</span><br>
                fail <br><span class="badge rounded-pill {{fail_bg}}">{{v.fail}}</span>
              </a>
            </td>
          {% elif k in [ "Trigger",
                        "Jenkins Project Name",
                        "Jenkins Build Number",
                        "HDL Commit",
                        "Linux Commit"]
          %}
            {% if not board['url'][k] in ["NA", "manual"] %}
              <td><a href={{board['url'][k]}}>{{v}}</a></td>
            {% else %}
              <td>{{v}}</td>
            {% endif %}
          {% elif k in ["Artifacts"]%}
            <td>
              {% for key,val in v.items() %}
                {% if key == "UART BOOT LOG"%}
                  <a href="{{val}}"><i data-bs-toggle="tooltip" data-bs-placement="top" title="UART BOOT LOG"  class="bi bi-file-text" style="color: blue;"></i></a>
                {% elif key == "ADI DIAGNOSTIC REPORT"%}
                  <a href="{{val}}"><i data-bs-toggle="tooltip" data-bs-placement="top" title="ADI DIAGNOSTIC REPORT"  class="bi bi-file-zip" style="color: blue;"></i></a>
                {%endif%}

              {%endfor%}
            </td>
          {% elif k in ["url", "Failure reason"] %}
            <!-- do nothing -->
          {% else %}
            <td>{{v}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
