<table class="table">
  <thead class="table-white"> 
    <tr>
      {% for item in boards[0] %}
        {% if item in [
                  "url",
                  "Jenkins Project Name", 
                  "Artifactory source branch"
                  ] 
        %}
          <!-- do nothing -->
        {% if item in ["Status"]%}
          
        {% endif %}
        {% else %}
          <th scope="col">{{item}}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      {% for k,v in board.items() %}
        {% if k== "Job Date" %}
          <td>
            {{v.split('T')[0]}}<br>
            {{v.split('T')[1].split('.')[0]}}
          </td>
        {% elif k== "Board" %}
          {% set a = 'board/'+v %}
          <td><a href={{a}}>{{v}}</a></td>
        {% elif k in ["Jenkins Build Number",
                      "HDL Commit",
                      "Linux Commit"]
        %}
          {% if not board['url'][k] == "NA" %}
            <td><a href={{board['url'][k]}}>{{v}}</a></td>
          {% else %}
            <td>{{v}}</td>
          {% endif %}
        {% elif k in ["Status"] %}
          <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{v}}">
            {% if v["Online"] == True %}
              <i class="bi bi-lightning-charge" style="color: green;"></i>
              {% if v["Status"] == 'Pass' %}
                <i class="bi bi-check-circle" style="color: green;"></i>
              {% else %}
                {% for reason in v['Failure reason']%}
                  {% if "linux dmesg errors" in reason %}
                    <i class="bi bi-exclamation-triangle" style="color: red;"></i>
                  {% endif %}
                  {% if "pytest failure" in reason %}
                    <i class="bi bi-file-earmark-x" style="color: red;"></i>
                  {% endif %}
                  {% if "nebula.errors" in reason %}
                    <i class="bi bi-x-circle" style="color: red;"></i>
                  {% endif %}
                {% endfor %}
              {%endif%}
            {% else %}
              <i class="bi bi-power" style="color: black;"></i>
            {% endif %}
          </td>
        {% elif k in ["Action"]%}
          <td>
            {% if v == 'NA' %}
              {{v}}
            {% else %}
              {%for action, value in v.items() %}
                {% if action in ["Shell"] %}
                  {% if value == 'NA' %}
                    {{value}}
                  {% else %}
                    <button type="button" class="btn btn-primary" id="openShellButton" onclick = 'open_shell("{{value}}")'>
                      {{action}}
                    </button>
                  {% endif %}
                {% endif %}
              {%endfor %}
            {% endif %}
          </td>
        {% elif k in [
          "url",
          "Jenkins Project Name",
          "Artifactory source branch"
          ] 
        %}
            <!-- do nothing -->
        {% else %}
          <td>{{v}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>