
<script>
function myFunction(board) {
    var x = document.getElementById(board);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }ß
}
</script>

<table class="table table-bordered table-hover styled-table">
    <thead>
      <tr style="background-color: rgba(148, 155, 149, 0.171);">
        <th scope="col">Reference Design</th>
        <th scope="col">Last Commit Tested</th>
        <th scope="col">Master Boot Tests</th>
        <th scope="col">Release Boot Tests</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
          <td><span title={{boards[board]['carrier']}}><a href="design/{{board}}" style="color:rgb(0, 0, 0); font-weight: bold; display: inline">{{board}}</a></span></td>
          <td><a href="">d2d3e7d</a> <div style="font-weight: normal; font-style: italic; display: inline">(12/12/21)</div></td>
          <td><div style="color:green; display: inline">0</div> / <div style="color:red; display: inline">0</div></td>
          <td><div style="color:green; display: inline">0</div> / <div style="color:red; display: inline">0</div></td>
          <td><button type="button" class="btn btn-primary">All Builds</button></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>