<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('hello_world')}}/">Constellation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('hello_world')}}/boards">HW Pipeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('hello_world')}}/queue">Jenkins Queue</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('hello_world')}}/chw">Current HW</a>
        </li>

        <div class="dropdown show">
          <a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="kibanaNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kibana
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" aria-current="page" href="{{url_for('hello_world')}}/kibana/kibana_multi_config_test_last_24">MCT</a>
            <a class="dropdown-item" aria-current="page" href="{{url_for('hello_world')}}/kibana/kibana_hardware_test_last_24">HWT</a>
          </div>
        </div>

        <div class="dropdown show">
          <a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="projectsNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" aria-current="page" href="{{url_for('hello_world')}}/pyadi-iio/all">PyADI-IIO</a>
            <a class="dropdown-item" aria-current="page" href="{{url_for('hello_world')}}/trx-toolbox">Transceiver Toolbox</a>
            <a class="dropdown-item" aria-current="page" href="{{url_for('hello_world')}}/hsx-toolbox">HSX Toolbox</a>
          </div>
        </div>

      </ul>
    </div>
  </div>
</nav>
